.DS_Store
TMDB.xcodeproj/xcuserdata/jorgeramos.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TMDB.xcodeproj/project.xcworkspace/xcuserdata/jorgeramos.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Fastlane/report.xml
